@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

/* Reset */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Main Styling */
html, body{
  font-family: 'Roborto', sans-serif;
  line-height: 1.7em;
}

/* navbar */
.nav-container{
  display: flex;
  justify-content: space-between;
}

#navbar{
  background: #4f81c7;
  color: #fcfafa;
  padding: 1rem;
}

#navbar ul{
  list-style: none;
  display: flex;
  align-items: center;
}

#navbar ul li a{
  text-decoration: none;
  color:  #fcfafa;
  padding: 1.3rem;
}

#navbar ul li a:hover,
#navbar ul li a.current
{
  background:#83a6d7;
  color: #f0d78c;
  padding: 1.3rem;
}

/* Utilities */
.text-primary{
  color: #f0d78c;
}