@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

/* Reset */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Main Styling */
html, body{
  font-family: 'Roborto', sans-serif;
  line-height: 1.7em;
}

a{
  text-decoration: none;
}

p{
  margin: 0.75rem 0;
}

/* Utility classes */
.bg-primary{
  background: #f0d78c;
  color: #4f81c7;
}

.bg-dark{
  background: #4f81c7;
  color: #fcfafa;
}

.bg-light{
  color: #4f81c7;
}

.text-primary{
  color: #f0d78c;
}

.btn{
  display: inline-block;
  font-size: 18px;
  color: #fcfafa;
  background: #4f81c7;
  padding: 0.8rem 1.2rem;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover{
  background: #64c4ed;
  color: #f0d78c;
}

.btn-light{
  background: #fcfafa;
  color: #64c4ed;
}

.container{
  max-width: 1100px;
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
}

.py-3{
  padding: 30px 0;
}

.l-heading{
  font-size:40px;
  line-height: 1.2;
}
/* navbar */
.nav{
  display: flex;
  justify-content: space-between;
}

#navbar{
  background: #4f81c7;
  color: #fcfafa;
  padding: 1rem;
}

#navbar ul{
  list-style: none;
  /* display: flex;
  align-items: center; */
}

#navbar ul li a{
  color:  #fcfafa;
  padding: 1.3rem;
}

#navbar ul li a:hover,
#navbar ul li a.current
{
  color: #f0d78c;
  padding: 1.3rem;
}

/* showcase */

#showcase{
  background: url('../img/banner.jpeg') no-repeat center center/cover;
  height: 600px;
  color: #fff;
}

#showcase .showcase-content{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100%;
  /* Overlay */
  background-color: rgba(0,0,0,0.3);
}

#showcase .showcase-content h1{
  font-size: 60px;
  line-height: 1.2em;
}

#showcase .showcase-content p{
  font-size: 20px;
  line-height: 1.7em;
}

/* Home-info */
#home-info{
  height: 450px;
  display: flex;
}

#home-info .info-img{
  background: url('../img/laptop.jpeg')no-repeat;
  background-size: cover;
  min-height: 100%;
  width: 50%;
}

#home-info .info-content{
  width: 50%;
  height: 100%;
  text-align: center;
  padding: 50px 30px;
}

#home-info .info-content h2{
  font-size: 30px;
}

#home-info .info-content p{
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 18px;
  font-weight: lighter;
}

/* Features */
#features{
  display: flex;
  height: 300px;
}

.box{
  width: 33.3%;
  height: 100%;
  padding: 50px;
  text-align: center;
}

/* Footer */
#main-footer{
  text-align:center;
  background:#83a6d7;
  color: white;
  padding: 20px;
}

/* About Info */
#about-info .about{
  display: flex;
  justify-content: space-between;
}

#about-info .about .info-left{
  width: 50%;
  margin-top: 20px;
}

#about-info .about .info-right{
  width: 50%;
}

#about-info .about .info-right img{
  width: 80%;
  margin-left: 50px;
  margin-top: 20px;
}

/* Testimonials */
#testimonials{
  height: 100%;
  background: url('../img/test-background.jpeg') no-repeat center center/cover;
  padding-top:100px;
}

#testimonials h2{
  color: #64c4ed;
  text-align: center;
  padding-bottom: 40px;
}

#testimonials .testimonial{
  opacity: 0.9;
  padding: 20px;
  display: flex;
  margin-bottom: 40px;
  border-radius: 10px;
}
#testimonials .testimonial img{
  width: 100px;
  border-radius: 50%;
  margin-right: 20px;
}

/* Contact Form */
#contact-form p{
  margin-top: 20px;
}

#contact-form .form-group{
  margin-bottom: 20px;
  height: 95px;
}

#contact-form label{
  display: block;
  margin: 0.8rem 0;
}

#contact-form input{
  width: 100%;
  padding: 10px;
  border: 1px #ddd solid;
}

#contact-form textarea{
  width: 100%; 
  height: 50px;
  border: 1px #ddd solid;
}

#contact-form input:focus,
#contact-form textarea:focus{
  outline: none;
  border-color: #4f81c7;
}

/* Contact-Info */
#contact-info .container{
  display: flex;
  height: 50%;
  align-items: center;
  justify-content: center;
}

#contact-info .box h3{
  margin: 20px 0;
}